<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5b6a7150-532d-42a5-b7d9-a2b223519de1/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/DocumentManagementAPIapi/apis/idsESLAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5b6a7150-532d-42a5-b7d9-a2b223519de1/resourcegroups/rg1/providers/Microsoft.Web/sites/eslIPB</ResourceId>
    <ResourceGroup>rg1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eslipb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>064b860b-9d38-4c95-8baf-0098f2dd7d2e</ProjectGuid>
    <PublishUrl>https://eslipb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$eslIPB</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>